- content_for :header_tags do
  = javascript_pack_tag 'public', integrity: true, crossorigin: 'anonymous'

- content_for :content do
  .yellow-public-layout
    - unless @hide_navbar
      .public-container
        %nav.header
          .nav-left
            = link_to root_url, class: 'brand' do
              = svg_logo_full

    .public-container= yield

= render template: 'layouts/application'
